---
http_interactions:
- request:
    method: get
    uri: https://api.easybill.de/rest/v1/customers?number=test-123
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic easybill-basic-auth-key
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"page":1,"pages":0,"limit":100,"total":0,"items":[]}'
  recorded_at: Mon, 22 Feb 2016 10:45:44 GMT
- request:
    method: post
    uri: https://api.easybill.de/rest/v1/customers
    body:
      encoding: UTF-8
      string: '{"number":"test-123","company_name":"ACME Inc.","last_name":"Patternman"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic easybill-basic-auth-key
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"acquire_options":null,"bank_account":null,"bank_account_owner":null,"bank_bic":null,"bank_code":null,"bank_iban":null,"bank_name":null,"birth_date":null,"cash_allowance":null,"cash_allowance_days":"0","cash_discount":null,"cash_discount_type":null,"city":null,"company_name":"ACME
        Inc.","country":null,"delivery_city":null,"delivery_company_name":null,"delivery_country":null,"delivery_first_name":null,"delivery_last_name":null,"delivery_personal":null,"delivery_salutation":"0","delivery_street":null,"delivery_suffix_1":null,"delivery_suffix_2":null,"delivery_zip_code":null,"emails":[],"fax":null,"first_name":null,"grace_period":null,"group_id":null,"id":56536920,"info_1":null,"info_2":null,"internet":null,"last_name":"Patternman","mobile":null,"note":null,"number":"test-123","payment_options":null,"personal":false,"phone_1":null,"phone_2":null,"postbox":null,"postbox_city":null,"postbox_country":null,"postbox_zip_code":null,"sale_price_level":null,"salutation":"0","sepa_agreement":null,"sepa_agreement_date":null,"sepa_mandate_reference":"test-123","since_date":null,"street":null,"suffix_1":null,"suffix_2":null,"tax_number":null,"tax_options":null,"title":null,"vat_identifier":null,"zip_code":null}'
  recorded_at: Mon, 22 Feb 2016 10:45:44 GMT
- request:
    method: post
    uri: https://api.easybill.de/rest/v1/documents
    body:
      encoding: UTF-8
      string: '{"amount":12345,"customer_id":56536920}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic easybill-basic-auth-key
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"address":{"city":null,"company_name":"ACME Inc.","country":null,"first_name":null,"last_name":"Patternman","personal":false,"salutation":"0","street":null,"suffix_1":null,"suffix_2":null,"title":null,"zip_code":null},"amount":0,"amount_net":0,"bank_debit_form":null,"cash_allowance":null,"cash_allowance_days":null,"cash_allowance_text":null,"contact_id":null,"contact_label":"","contact_text":"","created_at":"2016-02-22
        11:45:44","currency":"EUR","customer_id":56536920,"discount":null,"discount_type":null,"document_date":"2016-02-22","due_date":null,"edited_at":"2016-02-22
        11:45:44","grace_period":10,"id":67644362,"is_archive":false,"is_draft":true,"items":[],"label_address":{"city":null,"company_name":null,"country":null,"first_name":null,"last_name":null,"personal":null,"salutation":"0","street":null,"suffix_1":null,"suffix_2":null,"zip_code":null},"last_postbox_id":null,"number":null,"paid_amount":0,"paid_at":null,"pdf_pages":1,"pdf_template":null,"project_id":null,"ref_id":null,"service_date":{"type":"DEFAULT","date":"2016-02-22","date_from":null,"date_to":null,"text":null},"status":null,"text":"","text_prefix":"","title":null,"type":"INVOICE","use_shipping_address":false,"vat_option":null}'
  recorded_at: Mon, 22 Feb 2016 10:45:44 GMT
- request:
    method: put
    uri: https://api.easybill.de/rest/v1/documents/67644362/done
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic easybill-basic-auth-key
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"address":{"city":null,"company_name":"ACME Inc.","country":null,"first_nam[...]
- request:
    method: post
    uri: https://api.easybill.de/rest/v1/document-payments
    body:
      encoding: UTF-8
      string: '{"document_id":67644362,"amount":12345,"payment_at":"2016-02-22 00:00:00
        UTC"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic easybill-basic-auth-key
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"amount":12345,"document_id":67644362,"id":59032526,"notice":null,"payment_at":"2016-02-22","type":null}'
  recorded_at: Mon, 22 Feb 2016 10:45:45 GMT
[...]
- request:
    method: get
    uri: https://api.easybill.de/rest/v1/document-payments?document_id=67644362
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic easybill-basic-auth-key
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"page":1,"pages":1,"limit":100,"total":1,"items":[{"amount":12345,"document_id":67644362,"id":59032526,"notice":null,"payment_at":"2016-02-22","type":null}]}'
  recorded_at: Mon, 22 Feb 2016 10:45:46 GMT
recorded_with: VCR 3.0.1
