---
http_interactions:
- request:
    method: get
    uri: https://api.easybill.de/rest/v1/post-boxes?limit=1000&page=1&type=EMAIL
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic easybill-basic-auth-key
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"pages":1,"limit":100,"total":1,"items":[{"cc":null,"create_at":"2016-06-10
        11:29:11","date":"2016-06-10","document_id":84730384,"from":"billing@ad2games.com","id":58942178,"message":"%Kunde.Anrede%,\n\nanbei
        erhalten Sie Ihre Rechnung Nr. %dokument.nummer% vom %dokument.datum% im pdf-Format.\n\nZum
        \u00d6ffnen dieser Datei ben\u00f6tigen Sie den Adobe Acrobat Reader, welchen
        Sie auf nachfolgender Internetadresse kostenlos herunterladen k\u00f6nnen:\nhttp:\/\/www.adobe.com\/de\/products\/acrobat\/readstep2.html\n\nMit
        freundlichen Gr\u00fc\u00dfen","processed_at":null,"send_by_self":false,"send_with_attachment":true,"status":"ERROR","status_msg":"Smtp
        Fehler. Bitte \u00fcberpr\u00fcfen Sie Ihre \u0022Eigener Mail-Server\u0022
        Einstellungen. (SMTP Error: Could not authenticate.)","subject":"Rechnung-%DOKUMENT.NUMMER%","to":"ns@ad2games.com","type":"EMAIL"}]}'
  recorded_at: Fri, 10 Jun 2016 09:29:44 GMT
recorded_with: VCR 3.0.3
