---
http_interactions:
- request:
    method: post
    uri: https://api.easybill.de/rest/v1/customers
    body:
      encoding: UTF-8
      string: '{"company_name":"ACME Corp.","emails":[],"last_name":"Mustermann"}'
    headers:
      Authorization:
      - Basic easybill-basic-auth-key
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"acquire_options":null,"bank_account":null,"bank_account_owner":null,"bank_bic":null,"bank_code":null,"bank_iban":null,"bank_name":null,"birth_date":null,"cash_allowance":null,"cash_allowance_days":0,"cash_discount":null,"cash_discount_type":null,"city":null,"company_name":"ACME
        Corp.","country":"DE","delivery_city":null,"delivery_company_name":null,"delivery_country":null,"delivery_first_name":null,"delivery_last_name":null,"delivery_personal":false,"delivery_salutation":0,"delivery_street":null,"delivery_suffix_1":null,"delivery_suffix_2":null,"delivery_zip_code":null,"emails":[],"fax":null,"first_name":null,"grace_period":null,"group_id":null,"id":75562448,"info_1":null,"info_2":null,"internet":null,"last_name":"Mustermann","login_id":20454,"mobile":null,"note":null,"number":"154213","payment_options":null,"personal":false,"phone_1":null,"phone_2":null,"postbox":null,"postbox_city":null,"postbox_country":null,"postbox_zip_code":null,"sale_price_level":null,"salutation":0,"sepa_agreement":null,"sepa_agreement_date":null,"sepa_mandate_reference":null,"since_date":null,"street":null,"suffix_1":null,"suffix_2":null,"tax_number":null,"tax_options":null,"title":null,"vat_identifier":null,"zip_code":null}'
  recorded_at: Wed, 20 Jul 2016 15:26:21 GMT
- request:
    method: post
    uri: https://api.easybill.de/rest/v1/documents
    body:
      encoding: UTF-8
      string: '{"customer_id":75562448,"items":[]}'
    headers:
      Authorization:
      - Basic easybill-basic-auth-key
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"address":{"city":null,"company_name":"ACME Corp.","country":"DE","first_name":null,"last_name":"Mustermann","personal":false,"salutation":0,"street":null,"suffix_1":null,"suffix_2":null,"title":null,"zip_code":null},"amount":0,"amount_net":0,"bank_debit_form":null,"cancel_id":null,"cash_allowance":null,"cash_allowance_days":null,"cash_allowance_text":null,"contact_id":null,"contact_label":"","contact_text":"","created_at":"2016-07-20
        17:26:21","currency":"EUR","customer_id":75562448,"discount":null,"discount_type":null,"document_date":"2016-07-20","due_date":null,"edited_at":"2016-07-20
        17:26:21","grace_period":10,"id":91046858,"is_archive":false,"is_draft":true,"items":[],"label_address":{"city":null,"company_name":null,"country":null,"first_name":null,"last_name":null,"personal":false,"salutation":0,"street":null,"suffix_1":null,"suffix_2":null,"zip_code":null},"last_postbox_id":null,"login_id":20454,"number":null,"paid_amount":0,"paid_at":null,"pdf_pages":1,"pdf_template":null,"project_id":null,"ref_id":null,"service_date":{"type":"DEFAULT","date":"2016-07-20","date_from":null,"date_to":null,"text":null},"status":null,"text":"Vielen
        Dank f\u00fcr Ihren Auftrag!\n\nBitte begleichen Sie den offenen Betrag bis
        zum %DOKUMENT.DATUM-FAELLIG%.\n\nMit freundlichen Gr\u00fc\u00dfen\n\n%FIRMA.FIRMA%\n","text_prefix":"%KUNDE.ANREDE%,\nnachfolgend
        berechnen wir Ihnen wie vorab besprochen:\n","title":null,"type":"INVOICE","use_shipping_address":false,"vat_option":null}'
  recorded_at: Wed, 20 Jul 2016 15:26:22 GMT
- request:
    method: put
    uri: https://api.easybill.de/rest/v1/documents/91046858/done
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Basic easybill-basic-auth-key
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"address":{"city":null,"company_name":"ACME Corp.","country":"DE","first_name":null,"last_name":"Mustermann","person[...]
- request:
    method: post
    uri: https://api.easybill.de/rest/v1/document-payments
    body:
      encoding: UTF-8
      string: '{"amount":0,"document_id":91046858}'
    headers:
      Authorization:
      - Basic easybill-basic-auth-key
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"amount":0,"document_id":91046858,"id":80467771,"login_id":20454,"notice":"","payment_at":"1970-01-01","type":null}'
  recorded_at: Wed, 20 Jul 2016 15:26:22 GMT
[...]
- request:
    method: get
    uri: https://api.easybill.de/rest/v1/documents?limit=1000&number=,C1607-17967&page=1&paid_at=null
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic easybill-basic-auth-key
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"pages":1,"limit":1000,"total":1,"items":[{"address":{"city":null,"company_name":"ACME
        Corp.","country":"DE","first_name":null,"last_name":"Mustermann","personal":false,"salutation":0,"street":null,"suffix_1":null,"suffix_2":null,"title":null,"zip_code":null},"amount":0,"amount_net":0,"bank_debit_form":null,"cancel_id":null,"cash_allowance":null,"cash_allowance_days":null,"cash_allowance_text":null,"contact_id":null,"contact_label":null,"contact_text":null,"created_at":"2016-07-20
        17:26:22","currency":"EUR","c[...]
[...]
- request:
    method: delete
    uri: https://api.easybill.de/rest/v1/documents/91046858
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic easybill-basic-auth-key
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 20 Jul 2016 16:06:07 GMT
[...]
- request:
    method: delete
    uri: https://api.easybill.de/rest/v1/customers/75562448
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic easybill-basic-auth-key
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 20 Jul 2016 16:11:21 GMT
recorded_with: VCR 3.0.3
