---
http_interactions:
- request:
    method: put
    uri: https://api.easybill.de/rest/v1/documents/79125727
    body:
      encoding: UTF-8
      string: '{"id":79125727,"items":[],"number":"Z"}'
    headers:
      Authorization:
      - Basic easybill-basic-auth-key
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"address":{},"amount":0,"amount_net":0,"bank_debit_form":null,"cancel_id":null,"cash_allowance":null,"cash_allowance_days":null,"cash_allowance_text":null,"contact_id":null,"contact_label":null,"contact_text":null,"created_at":"2016-05-06
        17:33:34","currency":"EUR","customer_id":null,"discount":null,"discount_type":null,"document_date":"2016-05-06","due_date":null,"edited_at":"2016-05-06
        17:42:34","grace_period":10,"id":79125727,"is_archive":false,"is_draft":true,"items":[],"label_address":{},"last_postbox_id":null,"number":"Z","paid_amount":0,"paid_at":null,"pdf_pages":1,"pdf_template":null,"project_id":null,"ref_id":null,"service_date":{"type":"DEFAULT","date":"2016-05-06","date_from":null,"date_to":null,"text":null},"status":null,"text":"Vielen
        Dank f\u00fcr Ihren Auftrag!\n\nBitte begleichen Sie den offenen Betrag bis
        zum %DOKUMENT.DATUM-FAELLIG%.\n\nMit freundlichen Gr\u00fc\u00dfen\n\n%FIRMA.FIRMA%","text_prefix":"%KUNDE.ANREDE%,\nnachfolgend
        berechnen wir Ihnen wie vorab besprochen:\n","title":null,"type":"INVOICE","use_shipping_address":false,"vat_option":null}'
  recorded_at: Fri, 06 May 2016 15:42:34 GMT
[...]
