---
http_interactions:
- request:
    method: post
    uri: https://api.easybill.de/rest/v1/documents
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic easybill-basic-auth-key
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"address":{},"amount":0,"amount_net":0,"bank_debit_form":null,"cash_allowance":null,"cash_allowance_days":null,"cash_allowance_text":null,"contact_label":"","contact_text":"","created_at":"2016-01-07
        11:44:13","currency":"EUR","customer_id":null,"discount":null,"discount_type":null,"document_date":"2016-01-07","due_date":null,"edited_at":"2016-01-07
        11:44:13","grace_period":10,"id":61260835,"is_archive":false,"is_draft":true,"items":[],"last_postbox_id":null,"number":null,"paid_amount":0,"paid_at":null,"pdf_pages":1,"pdf_template":null,"project_id":null,"ref_id":null,"status":null,"text":"","text_prefix":"","title":null,"type":"INVOICE","vat_option":null}'
  recorded_at: Thu, 07 Jan 2016 10:44:14 GMT
recorded_with: VCR 3.0.1
