---
http_interactions:
- request:
    method: get
    uri: https://api.easybill.de/rest/v1/documents?number=XYZ-123&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic easybill-basic-auth-key
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"pages":1,"limit":100,"total":1,"items":[{"address":{"city":"Atlantis","company_name":"Yellow
        Submarine","country":"DE","first_name":"Simon","last_name":"Moon","personal":false,"salutation":"1","street":"Sesame
        Street 23","suffix_1":null,"suffix_2":null,"title":null,"zip_code":"12345"},"amount":119000000,"amount_net":100000000,"bank_debit_form":null,"cancel_id":null,"cash_allowance":null,"cash_allowance_days":null,"cash_allowance_text":null,"contact_id":null,"contact_label":null,"contact_text":null,"created_at":"2016-05-06
        16:43:03","currency":"EUR","customer_id":65789440,"discount":null,"discount_type":null,"document_date":"2016-05-06","due_date":"2016-05-16","edited_at":"2016-05-06
        16:45:05","grace_period":10,"id":79121874,"is_archive":false,"is_draft":false,"items":[{"booking_account":null,"cost_price_charge":null,"cost_price_charge_type":"AMOUNT","cost_price_net":null,"cost_price_total":null,"description":"Golden
        apple","discount":null,"discount_type":null,"export_cost_1":null,"export_cost_2":null,"id":161919800,"number":"23","position":1,"position_id":null,"quantity":1,"serial_number":null,"serial_number_id":null,"single_price_gross":119000000,"single_price_net":100000000,"total_price_gross":119000000,"total_price_net":100000000,"total_vat":19000000,"type":"POSITION","unit":null,"vat_percent":19}],"label_address":{"city":null,"company_name":null,"country":null,"first_name":null,"last_name":null,"personal":null,"salutation":"0","street":null,"suffix_1":null,"suffix_2":null,"zip_code":null},"last_postbox_id":null,"number":"XYZ-123","paid_amount":0,"paid_at":null,"pdf_pages":1,"pdf_template":"DE","project_id":null,"ref_id":null,"service_date":{"type":"DEFAULT","date":"2016-05-06","date_from":null,"date_to":null,"text":null},"status":null,"text":"Vielen
        Dank f\u00fcr Ihren Auftrag!\u003Cbr\u003E\u003Cbr\u003EBitte begleichen Sie
        den offenen Betrag bis zum %DOKUMENT.DATUM-FAELLIG%.\u003Cbr\u003E\u003Cbr\u003EMit
        freundlichen Gr\u00fc\u00dfen\u003Cbr\u003E\u003Cbr\u003E%FIRMA.FIRMA%","text_prefix":"%KUNDE.ANREDE%,\u003Cbr\u003Enachfolgend
        berechnen wir Ihnen wie vorab besprochen:\u003Cbr\u003E","title":null,"type":"INVOICE","use_shipping_address":false,"vat_option":null}]}'
  recorded_at: Fri, 06 May 2016 15:01:17 GMT
recorded_with: VCR 3.0.1
