---
http_interactions:
- request:
    method: get
    uri: https://api.easybill.de/rest/v1/document-payments?document_id=84730384&limit=1000&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic easybill-basic-auth-key
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"pages":1,"limit":1000,"total":1,"items":[{"amount":3367,"document_id":84730384,"id":74713912,"notice":"Unicorns
        and rainbows!","payment_at":"1970-01-01","type":"\u00dcberweisung"}]}'
  recorded_at: Fri, 10 Jun 2016 14:17:29 GMT
- request:
    method: post
    uri: https://api.easybill.de/rest/v1/document-payments
    body:
      encoding: UTF-8
      string: '{"amount":3367,"document_id":84730384,"notice":"Unicorns and rainbows!","type":"Überweisung"}'
    headers:
      Authorization:
      - Basic easybill-basic-auth-key
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"amount":3367,"document_id":84730384,"id":74713913,"notice":"Unicorns
        and rainbows!","payment_at":"1970-01-01","type":"\u00dcberweisung"}'
  recorded_at: Fri, 10 Jun 2016 14:17:29 GMT
- request:
    method: get
    uri: https://api.easybill.de/rest/v1/document-payments?document_id=84730384&limit=1000&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic easybill-basic-auth-key
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"pages":1,"limit":1000,"total":2,"items":[{"amount":3367,"document_id":84730384,"id":74713912,"notice":"Unicorns
        and rainbows!","payment_at":"1970-01-01","type":"\u00dcberweisung"},{"amount":3367,"document_id":84730384,"id":74713913,"notice":"Unicorns
        and rainbows!","payment_at":"1970-01-01","type":"\u00dcberweisung"}]}'
  recorded_at: Fri, 10 Jun 2016 14:17:30 GMT
recorded_with: VCR 3.0.3
