---
http_interactions:
- request:
    method: get
    uri: https://api.easybill.de/rest/v1/documents/84725627
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic easybill-basic-auth-key
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"address":{"city":null,"company_name":"Test","country":"DE","first_name":"Test","last_name":"Test","personal":false,"salutation":"0","street":null,"suffix_1":null,"suffix_2":null,"title":null,"zip_code":null},"amount":3367,"amount_net":2829,"bank_debit_form":null,"cancel_id":null,"cash_allowance":null,"cash_allowance_days":null,"cash_allowance_text":null,"contact_id":null,"contact_label":null,"contact_text":null,"created_at":"2016-06-10
        10:46:00","currency":"EUR","customer_id":25699514,"discount":null,"discount_type":null,"document_date":"2016-06-10","due_date":null,"edited_at":"2016-06-10
        10:46:27","grace_period":10,"id":84725627,"is_archive":false,"is_draft":true,"items":[{"booking_account":null,"cost_price_charge":null,"cost_price_charge_type":"AMOUNT","cost_price_net":null,"cost_price_total":null,"description":"Foo","discount":null,"discount_type":null,"export_cost_1":null,"export_cost_2":null,"id":173315658,"number":"1","position":1,"position_id":null,"quantity":23,"serial_number":null,"serial_number_id":null,"single_price_gross":146.37,"single_price_net":123,"total_price_gross":3366.51,"total_price_net":2829,"total_vat":537.51,"type":"POSITION","unit":null,"vat_percent":19}],"label_address":{"city":null,"company_name":null,"country":null,"first_name":null,"last_name":null,"personal":null,"salutation":"0","street":null,"suffix_1":null,"suffix_2":null,"zip_code":null},"last_postbox_id":null,"number":null,"paid_amount":0,"paid_at":null,"pdf_pages":1,"pdf_template":"DE","project_id":null,"ref_id":null,"service_date":{"type":"DEFAULT","date":"2016-06-10","date_from":null,"date_to":null,"text":null},"status":null,"text":"Vielen
        Dank f\u00fcr Ihren Auftrag!\u003Cbr\u003E\u003Cbr\u003EBitte begleichen Sie
        den offenen Betrag bis zum %DOKUMENT.DATUM-FAELLIG%.\u003Cbr\u003E\u003Cbr\u003EMit
        freundlichen Gr\u00fc\u00dfen\u003Cbr\u003E\u003Cbr\u003E%FIRMA.FIRMA%\u003Cbr\u003E","text_prefix":"%KUNDE.ANREDE%,\u003Cbr\u003Enachfolgend
        berechnen wir Ihnen wie vorab besprochen:\u003Cbr\u003E","title":null,"type":"INVOICE","use_shipping_address":false,"vat_option":null}'
  recorded_at: Fri, 10 Jun 2016 08:50:38 GMT
- request:
    method: put
    uri: https://api.easybill.de/rest/v1/documents/84725627/done
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Basic easybill-basic-auth-key
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"address":{"city":null,"company_name":"Test","country"[...]
[...]
