---
http_interactions:
- request:
    method: get
    uri: https://api.easybill.de/rest/v1/document-payments
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic easybill-basic-auth-key
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"page":1,"pages":1,"limit":100,"total":1,"items":[{"amount":1,"document_id":61145172,"id":53744398,"notice":null,"payment_at":"2016-01-11","type":null}]}'
  recorded_at: Mon, 11 Jan 2016 13:32:19 GMT
recorded_with: VCR 3.0.1
