---
http_interactions:
- request:
    method: get
    uri: https://api.easybill.de/rest/v1/post-boxes?type=EMAIL
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic easybill-basic-auth-key
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"page":1,"pages":1,"limit":100,"total":1,"items":[{"cc":null,"create_at":"2016-01-20
        15:14:16","date":"2016-01-20","document_id":63199965,"from":null,"id":44291862,"message":null,"processed_at":null,"send_by_self":false,"send_with_attachment":true,"status":"ERROR","status_msg":"Smtp
        Fehler. Bitte \u00fcberpr\u00fcfen Sie Ihre \u0022Eigener Mail-Server\u0022
        Einstellungen. (SMTP Error: Could not authenticate.)","subject":null,"to":null,"type":"EMAIL"}]}'
  recorded_at: Thu, 21 Jan 2016 12:38:41 GMT
recorded_with: VCR 3.0.1
