---
http_interactions:
- request:
    method: get
    uri: https://api.easybill.de/rest/v1/documents/61145172
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic easybill-basic-auth-key
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"address":{"city":"Springfield","company_name":"Compuglobalhypermeganet","country":"US","first_name":"Homer","last_name":"Simpson","personal":false,"salutation":"1","street":"742
        Evergreen Terrace","title":null,"zip_code":null},"amount":119000,"amount_net":100000,"bank_debit_form":null,"cash_allowance":null,"cash_allowance_days":null,"cash_allowance_text":null,"contact_id":null,"contact_label":null,"contact_text":null,"created_at":"2016-01-06
        16:59:58","currency":"EUR","customer_id":16314756,"discount":null,"discount_type":null,"document_date":"2016-01-06","due_date":"2016-01-16","edited_at":"2016-01-06
        17:02:30","grace_period":10,"id":61145172,"is_archive":false,"is_draft":false,"items":[{"booking_account":null,"cost_price_charge":null,"cost_price_charge_type":"AMOUNT","cost_price_net":null,"cost_price_total":null,"description":"Nucular
        Submarine","discount":null,"discount_type":null,"export_cost_1":null,"export_cost_2":null,"id":125088363,"number":"1","position":1,"position_id":null,"quantity":1,"serial_number":null,"serial_number_id":null,"single_price_gross":119000,"single_price_net":100000,"total_price_gross":119000,"total_price_net":100000,"total_vat":19000,"type":"POSITION","unit":null,"vat_percent":19}],"label_address":{"city":null,"company_name":null,"country":null,"first_name":null,"last_name":null,"personal":null,"salutation":"0","street":null,"zip_code":null},"last_postbox_id":null,"number":"201610032","paid_amount":0,"paid_at":null,"pdf_pages":1,"pdf_template":"DE","project_id":null,"ref_id":null,"status":null,"text":null,"text_prefix":null,"title":null,"type":"INVOICE","vat_option":null}'
  recorded_at: Thu, 07 Jan 2016 11:03:26 GMT
recorded_with: VCR 3.0.1
