---
http_interactions:
- request:
    method: get
    uri: https://api.easybill.de/rest/v1/customers?limit=1000&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic easybill-basic-auth-key
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"pages":1,"limit":5,"total":5,"items":[{"acquire_options":null,"bank_account":null,"bank_account_owner":null,"bank_bic":null,"bank_code":null,"bank_iban":null,"bank_name":null,"birth_date":null,"cash_allowance":null,"cash_allowance_days":"0","cash_discount":null,"cash_discount_type":null,"city":"110058","company_name":"AdGaem
        Marketing and Web Solutions LLP","country":"IN","delivery_city":"110058","delivery_company_name":"AdGaem
        Marketing and Web Solutions LLP","delivery_country":"IN","delivery_first_name":"Tejprakash","delivery_last_name":"Dewangan","delivery_personal":null,"delivery_salutation":"0","delivery_street":"A-2\/154
        Janakpuri","delivery_suffix_1":null,"delivery_suffix_2":null,"delivery_zip_code":"New
        Delhi","emails":["info@adgaem.com"],"fax":null,"first_name":"Tejprakash","grace_period":"5","group_id":null,"id":5935320,"info_1":null,"info_2":null,"internet":null,"last_name":"Dewangan","mobile":null,"note":null,"number":"15408","payment_options":null,"personal":false,"phone_1":null,"phone_2":null,"postbox":null,"postbox_city":null,"postbox_country":null,"postbox_zip_code":null,"sale_price_level":null,"salutation":"0","sepa_agreement":null,"sepa_agreement_date":null,"sepa_mandate_reference":"15408","since_date":null,"street":"A-2\/154
        Janakpuri","suffix_1":null,"suffix_2":null,"tax_number":null,"tax_options":null,"title":null,"vat_identifier":null,"zip_code":"New
        Delhi"},{"acquire_options":null,"bank_account":null,"bank_account_owner":null,"bank_bic":null,"bank_code":null,"bank_iban":null,"bank_name":null,"birth_date":null,"cash_allowance":null,"cash_allowance_days":"0","cash_discount":null,"cash_discount_type":null,"city":"Hamburg","company_name":"gamigo
        AG","country":"DE","delivery_city":"Hamburg","delivery_company_name":"gamigo
        AG","delivery_country":"DE","delivery_first_name":"Finance","delivery_last_name":"Team","deliver[...]
